twittOmeter
[{"id":"9a6c7945.a26408","type":"tab","label":"Flow 1"},{"id":"fec0f4c3.080008","type":"twitter in","z":"9a6c7945.a26408","twitter":"","tags":"","user":"false","name":"","topic":"tweets","inputs":1,"x":176,"y":297,"wires":[["428f41da.3b7ea"]]},{"id":"428f41da.3b7ea","type":"sentiment","z":"9a6c7945.a26408","name":"","x":413,"y":308,"wires":[["e3d26dad.8d494","89fa3d0f.e4f0e"]]},{"id":"e3d26dad.8d494","type":"switch","z":"9a6c7945.a26408","name":" ","property":"sentiment.score","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"str"},{"t":"eq","v":"0","vt":"str"},{"t":"lt","v":"0","vt":"str"}],"checkall":"false","outputs":3,"x":599,"y":253,"wires":[["c407eab0.9cfe78"],["cfb57b1.39f2908"],["de63eb81.6ba7e8"]]},{"id":"44f54c94.6e87f4","type":"ui_gauge","z":"9a6c7945.a26408","name":"GOOD","group":"ace968d1.72797","order":0,"width":0,"height":0,"gtype":"gage","title":"Good","label":"units","format":"{{value}}","min":0,"max":"5000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1123,"y":96,"wires":[]},{"id":"fece9f47.356178","type":"ui_gauge","z":"9a6c7945.a26408","name":"EVEN","group":"53e0fa87.8d8ab4","order":0,"width":0,"height":0,"gtype":"gage","title":"EVEN","label":"units","format":"{{value}}","min":0,"max":"5000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1114,"y":226,"wires":[]},{"id":"70667a30.e7bcec","type":"ui_gauge","z":"9a6c7945.a26408","name":"BAD","group":"1e67f424.56aa5c","order":0,"width":0,"height":0,"gtype":"gage","title":"BAD","label":"units","format":"{{value}}","min":0,"max":"5000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1111,"y":364,"wires":[]},{"id":"c407eab0.9cfe78","type":"counter","z":"9a6c7945.a26408","name":"","init":"0","step":"1","lower":"","upper":"","mode":"increment","outputs":"2","x":742,"y":112,"wires":[["44f54c94.6e87f4"],[]]},{"id":"cfb57b1.39f2908","type":"counter","z":"9a6c7945.a26408","name":"","init":"0","step":"1","lower":"","upper":"","mode":"increment","outputs":"2","x":763,"y":244,"wires":[["fece9f47.356178"],[]]},{"id":"de63eb81.6ba7e8","type":"counter","z":"9a6c7945.a26408","name":"","init":"0","step":"1","lower":"","upper":"","mode":"increment","outputs":"2","x":749,"y":364,"wires":[["70667a30.e7bcec"],[]]},{"id":"259f737c.7c4a4c","type":"ui_text_input","z":"9a6c7945.a26408","name":"","label":"Enter search #","group":"ace968d1.72797","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":"900","topic":"","x":132,"y":101,"wires":[["1bf840ba.c93437","fec0f4c3.080008"]]},{"id":"1bf840ba.c93437","type":"ui_text","z":"9a6c7945.a26408","group":"ace968d1.72797","order":0,"width":0,"height":0,"name":"","label":"KeyWord: #","format":"{{msg.payload}}","layout":"row-spread","x":354,"y":99,"wires":[]},{"id":"b266029.d00dd8","type":"function","z":"9a6c7945.a26408","name":"erase payload","func":"msg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":398,"y":559,"wires":[["70667a30.e7bcec","fece9f47.356178","44f54c94.6e87f4","71eb38e9.ac1f28"]]},{"id":"ec52b49e.316ce","type":"ui_button","z":"9a6c7945.a26408","name":"","group":"ace968d1.72797","order":0,"width":0,"height":0,"passthru":false,"label":"RESET","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":131,"y":503,"wires":[["b266029.d00dd8","74347b25.7c947c"]]},{"id":"74347b25.7c947c","type":"function","z":"9a6c7945.a26408","name":"erase payload","func":"msg.payload = \"\";\nreturn msg;","outputs":1,"noerr":0,"x":396,"y":484,"wires":[["259f737c.7c4a4c"]]},{"id":"89fa3d0f.e4f0e","type":"msg-speed","z":"9a6c7945.a26408","name":"","frequency":"min","estimation":false,"ignore":false,"x":824,"y":571,"wires":[["71eb38e9.ac1f28"]]},{"id":"71eb38e9.ac1f28","type":"ui_text","z":"9a6c7945.a26408","group":"ace968d1.72797","order":0,"width":0,"height":0,"name":"","label":"MSG/MIN","format":"{{msg.payload}}","layout":"row-spread","x":1060,"y":569,"wires":[]},{"id":"ace968d1.72797","type":"ui_group","z":"","name":"Default","tab":"bde3c98c.b113","disp":false,"width":"6"},{"id":"53e0fa87.8d8ab4","type":"ui_group","z":"","name":"Default","tab":"bde3c98c.b113","disp":false,"width":"6"},{"id":"1e67f424.56aa5c","type":"ui_group","z":"","name":"Default","tab":"bde3c98c.b113","disp":false,"width":"6"},{"id":"bde3c98c.b113","type":"ui_tab","z":"","name":"Twitt-O-Meter","icon":"dashboard"}]
