updated
[{"id":"9a6c7945.a26408","type":"tab","label":"Flow 1"},{"id":"fec0f4c3.080008","type":"twitter in","z":"9a6c7945.a26408","twitter":"","tags":"","user":"false","name":"Fetch Tweets","topic":"tweets","inputs":1,"x":200,"y":100,"wires":[["428f41da.3b7ea"]]},{"id":"428f41da.3b7ea","type":"sentiment","z":"9a6c7945.a26408","name":"Sentiment Analysis","x":400,"y":100,"wires":[["e3d26dad.8d494"]]},{"id":"e3d26dad.8d494","type":"switch","z":"9a6c7945.a26408","name":"Sentiment Score","property":"sentiment.score","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"eq","v":"0","vt":"num"},{"t":"lt","v":"0","vt":"num"}],"checkall":"true","outputs":3,"x":610,"y":100,"wires":[["c407eab0.9cfe78"],["cfb57b1.39f2908"],["de63eb81.6ba7e8"]]},{"id":"44f54c94.6e87f4","type":"ui_gauge","z":"9a6c7945.a26408","name":"Positive","group":"ace968d1.72797","order":1,"width":"6","height":"4","gtype":"gage","title":"Positive","label":"Tweets","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":990,"y":60,"wires":[]},{"id":"fece9f47.356178","type":"ui_gauge","z":"9a6c7945.a26408","name":"Neutral","group":"ace968d1.72797","order":2,"width":"6","height":"4","gtype":"gage","title":"Neutral","label":"Tweets","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":990,"y":120,"wires":[]},{"id":"70667a30.e7bcec","type":"ui_gauge","z":"9a6c7945.a26408","name":"Negative","group":"ace968d1.72797","order":3,"width":"6","height":"4","gtype":"gage","title":"Negative","label":"Tweets","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":990,"y":180,"wires":[]},{"id":"c407eab0.9cfe78","type":"counter","z":"9a6c7945.a26408","name":"Positive Counter
